version: '3'
services:

  app:
    tty: true
    build:
      context: .
      dockerfile: Dockerfile
    command: npm run test

  test_docker:
    tty: true
    build:
      context: .
      dockerfile: DockerfileTest
    volumes:
      - .:/src/app
    command: npm run test:watch

  start:
    tty: true
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/src/app
    command: node ./src/grpcServer.js
    ports:
      - "50051:50051"